<h1>Sessions#create</h1>
<p>Find me in app/views/sessions/create.html.erb</p>

<%= form_tag '/search' do %>
  <%= label_tag :your_username %>
  <%= text_field_tag :your_username %>
  <%= submit_tag "Search" %>
<% end %>